@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;600&family=Italianno&display=swap');

* { 
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
} 

body {
    height: 100vh;
/* Make background image responsive */
    background: url(../images/background-image.JPG) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: 'Italianno', cursive;    
    color: #f9f5f1;
    font-size: 70px;
    font-weight: 400;
}

h2 {
    font-family: 'Cormorant', serif;
    color: #2f3237;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Italianno', cursive;    
    color: #f9f5f1;
    font-size: 40px;
    font-weight: 400;
}

p {
    font-family: 'Cormorant', serif;
    color: #2f3237;
}

h5 {
    color: #2f3237;
}

a {
    text-decoration: none;        
    color: #f9f5f1;
}

a:hover {
    color: #907596;
}

.game-info {
    display: flex;
    justify-content: center;
}

.game-info h3 {
    padding: 0 20px;
}


/* Code inspired from freeCodeCamp on YouTube */
.game {
    width: 650px;
    height: 650px;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #f9f5f1;
    perspective: 1000px;
}

.card {
    width: 25%;
    height: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:hover {
    background-color: rgba(144, 117, 150, .5);
    border-radius: 17px;
}

.card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.card.flip {
    transform: rotateX(180deg);
}

.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateX(180deg);
}
/* End code freeCodeCamp */


.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100; 
  color: #f9f5f1;
  background-color: rgba(47, 50, 55, .5);
  font-family: 'Italianno', cursive; 
  font-size: 50px;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
}

.overlay-text-small {
  font-size: .7em;
}


footer {
    display: flex;
    justify-content: center;
}

/* Add media@ for tablet */
/* Add media@ for smartphone */

