@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;600&family=Italianno&display=swap');

* {
     padding: 0; 
     margin: 0; 
     box-sizing: border-box; 
}

body {
    height: 100vh;
/* Make background image responsive */
    background: url(/assets/images/background-image.JPG) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: 'Italianno', cursive;    
    color: #f9f5f1;
}

p {
    font-family: 'Cormorant', serif;
    color: #2f3237;
}

/* Code inspired from freeCodeCamp on YouTube */
.game {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #f9f5f1;
}

.card {
    width: 25%;
    height: 25%;
    position: relative;
}

.front-face, .back-face{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* End code freeCodeCamp */

